body {
	background-color: #E6E6FA;
}
h1 {
	color: #8B008B;
	font-family: Impact, sans-serif;
	text-align: center;
	font-size: 40px;
}
h2 {
	color: #C71585;
	font-family: Impact, sans-serif;
	font-weight: lighter;
	text-align: center;
}
h3 {
	color: #FFA500;
	font-family: Impact, sans-serif;
	font-weight: lighter;
	text-align: center;
}
h5 {
	color: #C71585;
	font-family: Impact, sans-serif;
	font-size:72px;
	font-weight: lighter;
	text-align: center;
}
p {
	color: 	#008B8B;
	font-family: Times, serif;
}
ol {
	font-family: Impact;
	color: orange;
	font-size: 120px;
}