body {
	background-image: url(../images/queen.jpeg);
	background-repeat: no-repeat;


	
}

#header {
	width: 10000px;
	height:400px;
	padding-top:72px;
	float:center;
	margin: auto;
	padding-left:200px;
	
}

#intro {
	width: 440px;
	height: 450px;
	color: #CCCC33;
	font-family: impact;
	font-weight: lighter;
	float: left;
	padding-left: 130px;
	font-size:18px;
	text-align: left;
	margin:auto;

}

#pullquote {
	width: 1000px;
	height: 100px;
	color: #EF3B4B;
	float:bottom;
	font-family: impact, sans-serif;
	font-weight: bolder;
	font-size: 32px;
	text-align:center;
	margin: auto;
	
}

#freddie {
	width: 572px;
	height: auto;
	color: 003366;
	font-family: impact, sans-serif;
	font-size: 18px;
	text-align: left;
	float:bottom;
	padding-top: 24px;
	padding-left: 136px;

}

#interviewer {
	width:572px;
	height: auto;
	color:#484848;
	font-family: impact, sans-serif;
	font-size: 18px;
	text-align: left;
	padding-top: 24px;
	padding-left: 200px;
	float: bottom;
}
 
p {
	font-family: times;
}

#link {
	width:200px;
	height: 200px;
	margin:center;
	float:bottom;
	color: #EF3B4B;
	font-family: impact, sans-serif;
	font-weight: bolder;
	font-size: 36px;
	text-align:bottom;
}

